.datepick{ 
    position:fixed;
    width: 24em;
    padding: 1%;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    z-index: 1000;
}
.datepick * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    height: auto;
    white-space: normal;
}
.datepick a {
    cursor: pointer;
    color: #58666e;
}
.datepick .hander {
    clear: both;
}
.datepick .arrow {
    float: right;
}
.datepick .arrow a {
    margin-left: 1em;
}
.datepick .switch {
    color: cornflowerblue;
}
.datepick .day .other {
    opacity: 0.3;
}
.datepick .selected {
    color: cornflowerblue;
}

.datepick .year a,
.datepick .month a,
.datepick .minute a,
.datepick .hour a {
    margin-top: 1em;
    display: inline-block;
    width: 16.6%;
    min-width: 3em;
    text-align: center;
}
.datepick .month,
.datepick .minute {
    margin-top: 1em;
}

.datepick .week a,
.datepick .day a {
    margin-top: 1em;
    display: inline-block;
    width: 14.2%;
    min-width: 2em;
    text-align: center;
}

.datepick .day .next-month,
.datepick .day .prev-month {
    color: #ccc;
}